@import "tailwindcss";
@import "@yandex/ymaps3-default-ui-theme/dist/esm/index.css";

@font-face {
  font-family: "HiraMinProNW6";
  src: url("/fonts/Hiragino Mincho ProN W6.otf") format("opentype"); /* Use 'opentype' for OTF */
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
  font-family: "HiroMinProNW6";
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 750;
}
