@import "tailwindcss";
@import "@yandex/ymaps3-default-ui-theme/dist/esm/index.css";

:root {
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

.overflow-hidden {
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 750;
}
